* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background-color: #d3d3d3;
}

/* Navigation */

nav {
	width: 100%;
	height: 80px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav ul {
	margin: 0 50px;
	max-width: 1200px;
	min-width: 800px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	list-style: none;
}

nav a {
	text-decoration: none;
	color: black;
	font-weight: 200;
}

input[type="text"] {
	background-color: #f0f0f0;
	border: none;
	border-radius: 50px;
	padding: 10px;
	width: 250px;
}

.bellicon {
	height: 20px;
	width: 20px;
	color: #8b8b8b;
	border-left: 1px solid #8b8b8b;
	padding-left: 30px;
}

.profilepic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
}

/* ======== NFT Gallery ==================== */

#editors-pick {
	width: 100vw;
}

.EditorsPickHeadline {
	display: flex;
	height: 150px;
	width: 100%;
	background-color: pink;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 20px;
	align-items: flex-start;
	font-weight: 100;
	font-size: xx-large;
}

.EditorsPickBackground {
	width: 100%;
}

.nftcardgallery {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -70px;
	margin: 20px;
	gap: 20px;
}

.nftcard1 {
	display: flex;
	width: 300px;
	height: 500px;
	padding: 20px 20px 20px 20px;
	background-color: green;
	border-radius: 5px;
	font-size: medium;
	flex-direction: column;
}

.userinfo {
	display: flex;
	align-items: center;
}

.profilepic {
	height: 30px;
	width: 30px;
	background-color: orange;
	border: 2px double white;
	font-size: 18px;
}

.profilename {
	padding-left: 10px;
	font-size: 14px;
}

/* https://codepen.io/imsrk/pen/MvJNOZ */

.heart-icon {
	color: #000;
	margin-top: 6px;
	margin-left: 105px;
	width: 9px;
	height: 9px;
	border-left: solid 1px currentColor;
	border-bottom: solid 1px currentColor;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.heart-icon:before {
	content: "";
	position: absolute;
	top: -5px;
	left: -1px;
	width: 8px;
	height: 5px;
	border-radius: 5px 5px 0 0;
	border-top: solid 1px currentColor;
	border-left: solid 1px currentColor;
	border-right: solid 1px currentColor;
}

.heart-icon:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 8px;
	width: 5px;
	height: 8px;
	border-radius: 0 5px 5px 0;
	border-top: solid 1px currentColor;
	border-right: solid 1px currentColor;
	border-bottom: solid 1px currentColor;
}

.nft-offer > img {
	height: 280px;
	width: 280px;
	margin: 20px 0 0 0;
	border-radius: 5px;
}

.nft-title {
	font-weight: bold;
	font-size: 20px;
	padding: 5px 10px 0 0;
}

.nft-interaction {
	display: flex;
	justify-content: space-between;
	padding: 5px 19px 0 0;
	margin: 0 0 10px 0;
}

button {
	background-color: lightgray;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 3px 15px 5px 15px;
	border: none;
}

.divider-line {
	width: 95%;
	height: 3px;
	background-color: chocolate;
}

.auction-status {
	display: flex;
	background-color: darkslateblue;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	font-weight: 100;
}

.bidding-state {
	display: flex;
	align-items: center;
	background-color: aqua;
	gap: 10%;
}

.fa-ethereum {
	font-size: xx-large;
	color: #808080;
}

.price {
	background-color: pink;
	width: 150px;
}

.bid-status {
	display: flex;
	align-items: center;
	background-color: bisque;
	padding: 0 15px 0 0;
}

.bid-status img {
	background-color: crimson;
	height: 20px;
	width: 20px;
	opacity: 40%;
	margin: 10px;
}

/* Cards */

.card {
	width: 300px;
	height: 400px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
}

.layout {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 20px;
	justify-content: center;
}

/* Card image area */

.carg-images {
	width: 300px;
	height: 330px;
	display: flex;
}

.card-imagelarge img {
	width: 199px;
	height: 327px;
	object-fit: cover;
	border-radius: 5px;
	float: left;
}

.card-imagegroup {
	height: 330px;
	width: 95px;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-imagesmall img {
	height: 105px;
	width: 100px;
	object-fit: cover;
	border-radius: 5px;
}

/* Card overlay */

.card-overlay {
	filter: grayscale(100%);
}

.card-number {
	position: absolute;
	top: 34px;
	right: 17px;
}

h1 {
	color: #fff;
	filter: drop-shadow(0 0 0.75rem black);
}

/* Card bottom area */

.card-textarea {
	width: 300px;
	height: 40px;
	padding: 20px 0 10px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
}

.card-profilepic img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.card-arrow {
	height: 30px;
	width: 30px;
	color: #8b8b8b;
}
